{% extends 'base.html.twig' %}

{% block body %}
    {{ form_errors(form) }}
    {{ form_start(form) }}

    {{ form_row(form.first_name, {'attr':{'placeholder':"Имя"}}) }}
    {{ form_row(form.second_name, {'attr':{'placeholder':"Фамилия"}}) }}
    {{ form_row(form.avatar, {'attr':{'placeholder':"Путь до аватарки"}}) }}
    <button type="submit" class="btn btn-lg btn-primary">Изменить данные</button>
    {{ form_end(form) }}
{% endblock %}
