{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex profile_lk">
        <div class="col-2">
            <img class="profile_lk__avatar" src="{{ asset(user.avatar??'img/nophoto.jpg') }}" alt="avatar">
        </div>
        <div class="col-10">
            <p>
                Имя: {{ user.firstname }}
            </p>
            <p>
                Фамилия: {{ user.secondname }}
            </p>
            <p>
                Логин: {{ user.email }}
            </p>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if app.user.id == user.id %}
                    <a href="{{ path('app_profile_edit', {'id': user.id}) }}">
                        Изменить данные
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <hr>
    TODO: стена юзера, возможность писать в ЛС

{% endblock %}
