{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex profile_lk">
        <div class="col-2">
            <img class="profile_lk__avatar" src="{{ asset(user.avatar??'img/nophoto.jpg') }}" alt="avatar">
        </div>
        <div class="col-10">
            <p>
                Имя: {{ user.firstname }}
            </p>
            <p>
                Фамилия: {{ user.secondname }}
            </p>
            <p>
                Логин: {{ user.email }}
                <b>TODO: возможность писать в ЛС</b>
            </p>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if app.user.id == user.id %}
                    <a class="btn btn-lg btn-primary" href="{{ path('app_profile_edit', {'id': user.id}) }}">
                        Изменить
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <hr>
    <div class="wall">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="wall__postform d-flex">
                {{ form_errors(postAddForm) }}
                {{ form_start(postAddForm) }}
                {{ form_row(postAddForm.text) }}
                <button type="submit" class="btn btn-lg btn-primary"> > </button>
                {{ form_end(postAddForm) }}
            </div>
        {% endif %}

        {% for userWallPost in userWallPosts | sort((a,b) => a.timestamp < b.timestamp) %}
            <div class="wall__post d-flex {%if userWallPost.postAuthor == userWallPost.relatedWallOwner %}self-post{% endif%}">
                {% include '__components/wallpost_message.html.twig' with
                    {
                        'author': userWallPost.postAuthor,
                        'message_text': userWallPost.text,
                        'message_timestamp': userWallPost.timestamp,
                        'message_id': userWallPost.id
                    }
                %}
            </div>
        {% else %}
            <i class="wall__no-posts">На стене пока нет записей</i>
        {% endfor %}
    </div>
{% endblock %}
