{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex profile_lk">
        <div class="col-2">
            <img class="profile_lk__avatar" src="{{ asset(user.avatar) }}" alt="avatar">
        </div>
        <div class="col-10">
            <p>
                Имя: {{ user.firstname }}
            </p>
            <p>
                Фамилия: {{ user.secondname }}
            </p>
            <p>
                Логин: {{ user.email }}
            </p>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                {% if app.user.id != user.id %}
                <a class="btn btn-lg btn-primary" href="{{ path('app_add_private_chat', {'user1': app.user.id, 'user2': user.id}) }}">
                    Написать сообщение
                </a>
                {% endif %}

                {% if app.user.id == user.id %}
                    <a class="btn btn-lg btn-primary" href="{{ path('app_profile_edit', {'id': user.id}) }}">
                        Изменить
                    </a>
                {% elseif user not in app.user.friends%}
                    <a class="btn btn-lg btn-primary" href="{{ path('app_friend_action', {'action': 'add', 'myself': app.user.id, 'friend': user.id}) }}">
                        Добавить в друзья
                    </a>
                {% else %}
                    <a class="btn btn-lg btn-primary" href="{{ path('app_friend_action', {'action': 'remove', 'myself': app.user.id, 'friend': user.id}) }}">
                        Убрать из друзей
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>

    {% if(user.friends|length > 0) %}
    <hr>
    <div class="friends_list">
        <h2>Друзья</h2>
        <div class="users-list d-flex flex-wrap justify-content-start">
            {% for friend in user.friends %}
                <div class="users-list__user col-auto">
                    <a class="users-list__user-link d-block h-100" href="{{ path('app_profile', {'id':friend.id}) }}" style="background-image: url({{ asset(friend.avatar) }})">
                        <p class="users-list__user-name text-center">{{ friend.getUserDisplayName() }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <hr>
    <div class="wall">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="wall__postform d-flex">
                {{ form_errors(postAddForm) }}
                {{ form_start(postAddForm) }}
                {{ form_row(postAddForm.text) }}
                <button type="submit" class="btn btn-lg btn-primary"> > </button>
                {{ form_end(postAddForm) }}
            </div>
        {% endif %}

        {% for userWallPost in userWallPosts | sort((a,b) => a.timestamp < b.timestamp) %}
            <div class="wall__post d-flex {%if userWallPost.postAuthor == userWallPost.relatedWallOwner %}self-post{% endif%}">
                {% include '__components/wallpost_message.html.twig' with
                    {
                        'author': userWallPost.postAuthor,
                        'message_text': userWallPost.text,
                        'message_timestamp': userWallPost.createdAt,
                        'message_id': userWallPost.id
                    }
                %}
            </div>
        {% else %}
            <i class="wall__no-posts">На стене пока нет записей</i>
        {% endfor %}
    </div>
{% endblock %}
