{% extends 'base.html.twig' %}

{% block title %}
    Чат {{ chat.name }}
{% endblock %}

{% block body %}
    <div class="chat-detail overflow-y-scroll">
        {% for message in messages %}
            <div class="chat-detail__msg d-flex">
                {% include '__components/chat_message.html.twig' with
                    {
                        'author': message.author,
                        'message_text': message.text,
                        'message_timestamp': message.sendTime,
                        'chat': chat
                    }
                %}
            </div>
        {% else %}
            <p>Сообщений пока нет</p>
        {% endfor %}
    </div>
    <div class="chat-detail__controls d-flex">
        {{ form_errors(form) }}
        {{ form_start(form) }}
        {{ form_row(form.text) }}
        <button type="submit" class="btn btn-lg btn-primary"> > </button>
        {{ form_end(form) }}
    </div>
{% endblock %}
