{% extends 'base.html.twig' %}

{% block title %}
    Список чатов
{% endblock %}

{% block body %}
    <div class="chatlist overflow-y-scroll">
        {% for chat in chats %}
            <div class="chatlist__row">
                <div class="col-1">
                    <a href="{{ path('app_chat', {'id': chat.id}) }}">
                        <img class="chat-avatar" src="{{ asset(chat.chatAvatar??"img/nophoto.jpg") }}">
                    </a>
                </div>

                <div class="col-10">
                    <a href="{{ path('app_chat', {'id': chat.id}) }}">{{ chat.name }}</a>
                </div>

                <div class="col-1">
                    {% if app.user.id == chat.chatOwner.id %}
                        <button data-chat-id="{{ chat.id }}" onclick="window.location.href = '{{ path('app_chat_ajax', {'id': chat.id}) }}'">Удалить</button>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <p>Чатов пока нет</p>
        {% endfor %}
    </div>
{% endblock %}
