{% extends 'base.html.twig' %}

{% block title %}
    Список чатов
{% endblock %}

{% block body %}
    <div class="chatlist overflow-y-scroll">
        <div class="chatlist__row">
            <div>
                <a href="{{ path('app_new_chat') }}"><b>+</b> Создать новый чат</a>
            </div>
        </div>
        {% for chat in chats %}
            <div class="chatlist__row">
                <div class="col-1">
                    <a href="{{ path('app_chat', {'id': chat.id}) }}">
                        <img class="chat-avatar" src="{{ asset(chat.chatAvatar??"img/nophoto.jpg") }}">
                    </a>
                </div>

                <div class="col-10 chatlist__row-chatname">
                    <a href="{{ path('app_chat', {'id': chat.id}) }}">{{ chat.name }}</a>
                </div>

                <div class="col-1 text-center">
                    {% if app.user.id == chat.chatOwner.id %}
                        <span class="x-close-btn" data-chat-id="{{ chat.id }}" onclick="window.location.href = '{{ path('app_chat_remove', {'id': chat.id}) }}'">x</span>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <p>Чатов пока нет</p>
        {% endfor %}

    </div>
{% endblock %}
