{% extends 'base.html.twig' %}

{% block title %}
    Список чатов
{% endblock %}

{% block body %}
    <div class="chatlist">
        {% for chat in chats %}
            <a class="chatlist__row" href="{{ path('app_chat', {'id': chat.id}) }}">
                <div class="col-1">
                    <img class="chat-avatar" src="{{ asset(chat.chatAvatar??"img/nophoto.jpg") }}">
                </div>

                <div class="col-10">
                    <span>{{ chat.name }} ({{ chat.members|length }})</span>
                </div>

                <div class="col-1">
                    {% if app.user.id == chat.chatOwner.id %}
                        <button data-chat-id="{{ chat.id }}" onclick="window.location.href = '{{ path('app_chat_ajax', {'id': chat.id}) }}'">Удалить</button>
                    {% endif %}
                </div>
            </a>
        {% else %}
            <p>Чатов пока нет</p>
        {% endfor %}
    </div>
{% endblock %}
