{% extends 'base.html.twig' %}

{% block title %}
    Чат {{ chat.name }}
{% endblock %}

{% block body %}

    <div class="chat-detail overflow-y-scroll">
        {% for message in messages %}
            <div class="chat-detail__msg d-flex">
                <a href="{{ path('app_profile', {'id':message.author.id })}}">
                    <img class="chat-detail__msg-avatar" src="{{ asset('img/nophoto.jpg') }}">
                </a>
                <div class="text-break chat-detail__msg-content">
                    <p class="text-break chat-detail__msg-author-info">
                        <b>{{ message.getUserChatName()}}</b>
                        <b>| {{ message.getSendFormattedTime() }}</b>
                    </p>
                    <p class="text-break chat-detail__msg-txt">
                        {{ message.text }}
                    </p>
                </div>
                {% if app.user.id == chat.chatOwner.id or app.user.id == message.author.id %}
                    <span class="x-close-btn" onclick="window.location.href = '{{ path('app_chat_msg_remove', {'id': message.id, 'chatId': message.chatId}) }}'">x</span>
                {% endif %}
            </div>
        {% else %}
            <p>Сообщений пока нет</p>
        {% endfor %}
    </div>
    <div class="chat-detail__controls d-flex">
        {{ form_errors(form) }}
        {{ form_start(form) }}
        {{ form_row(form.text) }}
        <button type="submit" class="btn btn-lg btn-primary"> > </button>
        {{ form_end(form) }}
    </div>
{% endblock %}
