{% extends 'base.html.twig' %}

{% block title %}Список пользователей{% endblock %}

{% block body %}
    <p>Всего пользователей: ({{ users.totalItemCount }})</p>
    <div class="users-list d-flex flex-wrap justify-content-start">
        {% for user in users %}
            <div class="users-list__user col-auto">
                <a class="users-list__user-link d-block h-100" href="{{ path('app_profile', {'id':user.id}) }}" style="background-image: url({{ asset(user.avatar) }})">
                    <p class="users-list__user-name text-center">{{ user.getUserDisplayName() }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
    {{ knp_pagination_render(users, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig' ) }}
{% endblock %}
