<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ encore_entry_link_tags('app') }}">
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="header p-4 container">
            <div class="header__top-row row">
                <div class="col-xl-2  align-self-center">
                    <a class="header-logo" href="{{ path('Mainpage') }}">VK</a>
                </div>
                <div class="col-xl-4  align-self-center">
                    <input placeholder="Search..." data-search-field="1" class="search-header"/>
                </div>
                <div class="col-xl-4  align-self-center">
                    <span>Player</span>
                </div>
                <div class="col-xl-2 text-end align-self-center">
                    <span>User menu</span>
                </div>
            </div>
        </header>
        <div class="page-body">
            <div class="container">
                <div class="row">
                    <div class="left-menu col-xl-2">
                        <a href="{{ path('Mainpage') }}">Мой профиль</a>
                        <a href="{{ path('News list') }}">Новости</a>
                        <a href="{{ path('Messenger') }}">Мессенджер</a>
                        <a href="{{ path('Friends list') }}">Друзья</a>
                        <a href="{{ path('Music section') }}">Музыка</a>
                    </div>
                    <div class="content-area col-xl-10">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
