<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ encore_entry_link_tags('app') }}">
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="container header">
            <div class="header-top-row row d-flex justify-content-start align-items-center">
                {% include '__components/header_top_row.html.twig' %}
            </div>

            <div class="header-main-row row align-items-center">
                <div class="green-bg-header"></div>
                <div class="col-4">
                    <img class="header-logo left-logo" src="{{ asset('img/as-text-logo-white.svg') }}">
                </div>
                <div class="col-4">
                    {% include '__components/header_search.html.twig' %}
                </div>
                <div class="col-2">
                    {% include '__components/header_cart-fav-personal.html.twig' %}
                </div>
                <div class="col-2">
                    <img class="header-logo right-logo" src="{{ asset('img/LOGO_30.svg') }}">
                </div>
            </div>

            <div class="header-menu row d-flex justify-content-between">
                {% include '__components/header_catalog_menu.html.twig' %}
            </div>
        </header>

        {% block body %}
        {% endblock %}

    <footer class="footer">
        <div class="container">
            <div class="footer__logos-row d-flex justify-content-between align-items-center">
                <div class="footer__as-logo col-6">
                    <img src="{{ asset("img/footer-logo.svg") }}">
                </div>

                <div class="footer__paysys-logos col-6 d-flex justify-content-end">
                    <div>Visa</div>
                    <div>Mastercard</div>
                    <div>МИР</div>
                    <div>Яндекс.Деньги</div>
                </div>
            </div>
            <div class="footer__disclaimer">
                Продажа и доставка безрецептурных лекарственных препаратов для медицинского применения осуществляется Обществом с ограниченной ответственностью «Аптечная сеть «Эвалар» (ОГРН 1097746391687, ИНН 7704729709, адрес: 119021, Россия, г. Москва, Зубовский бульвар, д.13 стр.1) в соответствии с Правилами осуществления розничной торговли лекарственными препаратами для медицинского применения дистанционным способом (утв. постановлением Правительства Российской Федерации от 16 мая 2020 г. № 697) на основании Разрешения на осуществление розничной торговли лекарственными препаратами для медицинского применения дистанционным способом № ДТ-77-000016 от 01.06.2020, выданным Территориальным органом Росздравнадзора по г. Москве и Московской области. Доставка лекарственных препаратов для медицинского применения, отпускаемых по рецепту врача, не осуществляется.
            </div>
            <div class="footer__disclaimer">
                © 2003–2024, ООО «АС «Эвалар», 119021, Россия, г. Москва, Зубовский бульвар, д.13 стр.1, ИНН: 7704729709, ОГРН: 1097746391687<br>
                юр. лицо, которому принадлежит домен: ООО «АС «Эвалар» e-mail: <a href="as.msk@evalar.com">as.msk@evalar.com</a>
            </div>
        </div>
    </footer>
    </body>
</html>
