<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ encore_entry_link_tags('app') }}">
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="container">
            <div class="header-top-row row d-flex justify-content-start align-items-center">
                {% include '__components/header_top_row.html.twig' %}
            </div>

            <div class="header-main-row row align-items-center">
                <div class="green-bg-header"></div>
                <div class="col-4">
                    <img class="header-logo left-logo" src="{{ asset('img/as-text-logo-white.svg') }}">
                </div>
                <div class="col-4">
                    {% include '__components/header_search.html.twig' %}
                </div>
                <div class="col-2">
                    {% include '__components/header_cart-fav-personal.html.twig' %}
                </div>
                <div class="col-2">
                    <img class="header-logo right-logo" src="{{ asset('img/LOGO_30.svg') }}">
                </div>
            </div>

            <div class="header-menu row d-flex justify-content-between">
                {% include '__components/header_catalog_menu.html.twig' %}
            </div>
        </header>

        {% block body %}
        {% endblock %}

    <footer>

    </footer>
    </body>
</html>
