{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/catalog.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/catalog.js') }}"></script>
{% endblock %}

{% block title %}
        Страница раздела {{ section }}
{% endblock %}

{% block body %}
        <h1>
            Страница раздела {{ section }}
        </h1>
        <div></div>
            Количество элементов массива: {{ some_text | length }}
        {% for text in some_text %}
            <p>{{ text }}</p>
        {% endfor %}
{% endblock %}